@tailwind base;
@tailwind components;

.padding-top-navbar {
  padding-top: 38px;
}

@media (min-width: 768px) {
  .padding-top-navbar {
    padding-top: 64px;
  }
}

.using-mouse :focus {
  outline: none;
}

@tailwind utilities;
